.pokemon-card {
  width: 300px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  box-shadow: 5px 5px black;
  position: relative;
  overflow: hidden;
}

.pokemon-card > .types-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 10px 0;
}

.type-badge {
  padding: 4px;
  color: white;
  width: 100px;
  border-radius: 8px;
  border: 2px solid black;
  font-size: 1rem;
}

.pokemon-card .description {
  text-align: left;
  padding: 20px;
  font-size: 1.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: all 0.3s ease-in-out;
  translate: 0 100%;
  overflow-y: auto;
}

.pokemon-card:hover .description {
  translate: 0 0;
}
